.my-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Example shadow on hover */
}

.my-card {
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

.my-card:hover {
    transform: scale(1.02);
    /* Scale the card up on hover */
}

.card-img {
    transition: transform 0.3s;
    /* Add a smooth transition effect */
}

.card-img:hover {
    transform: scale(1.02);
    /* Scale the image up on hover */
}